{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Project</th>
      <th>Done</th>
      <th></th>
      <th></th>
    </tr>
    {% for project in projects %}
    <tr>
      <td><a href="{{ url_for('tasks_index', project_id='project.id') }}">{{ project.name }}</a></td>
      <td>{{ project.done }}</td>
      <td>
	<form method="POST" action="{{ url_for('projects_set_done', project_id=project.id) }}">
	  <input type="submit" value="Change status!"/>
	</form>
      </td>
      <td>
	<form method="POST" action="{{ url_for('projects_delete', project_id=project.id) }}">
	  <input type="submit" value="Delete project!"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
