{% extends "layout.html" %}

{% block body %}
  <div class="form-row">
    <div class="col">
      Project name
    </div>
    <div class="col">
      x
    </div>
    <div class="col">
      x
    </div>
    <div class="col">
      Project ended
    </div>
    <div class="col">
      x
    </div>
    <div class="col">
      x
    </div>
  </div>

    {% for project in projects %}
  <div class="form-row">
    <div class="col">
      <a href="{{ url_for('tasks_index', project_id=project.id) }}">{{ project.name }}</a>
    </div>
    <div class="col">
      x
    </div>
    <div class="col">
      x
    </div>
    <div class="col">
      {{ project.done }}
    </div>
    <div class="col">
	<form method="POST" action="{{ url_for('projects_set_done', project_id=project.id) }}">
	  <input type="submit" value="End project!"/>
	</form>
    </div>
    <div class="col">
	<form method="POST" action="{{ url_for('projects_delete', project_id=project.id) }}">
	  <input type="submit" value="Delete project!"/>
	</form>
    </div>
  </div>
    {% endfor %}

{% endblock %}
