{% extends "layout.html" %}

{% block body %}
  <div class="form-row">
    <div class="col-md-8">
       <h2>Projects list</h2>
    </div>
  </div>


  <div class="form-row">
    <div class="col-md-2 border">
      Project name
    </div>
    <div class="col-md-2 border">
      
    </div>
    <div class="col-md-2 border">
      
    </div>
    <div class="col-md-2 border">
      Project ended
    </div>
    <div class="col-md-2 border">
      x
    </div>
    <div class="col-md-2 border">
      x
    </div>
  </div>

    {% for project in projects %}
  <div class="form-row">
    <div class="col-md-2 border">
      <a href="{{ url_for('tasks_index', project_id=project.id) }}">{{ project.name }}</a>
    </div>
    <div class="col-md-2 border">
      
    </div>
    <div class="col-md-2 border">
      
    </div>
    <div class="col-md-2 border">
      {{ project.done }}
    </div>
    <div class="col-md-2 border">
	<form method="POST" action="{{ url_for('projects_set_done', project_id=project.id) }}">
	  <input type="submit" value="End project!"/>
	</form>
    </div>
    <div class="col-md-2 border">
	<form method="POST" action="{{ url_for('projects_delete', project_id=project.id) }}">
	  <input type="submit" value="Delete project!"/>
	</form>
    </div>
  </div>
    {% endfor %}
</br>
       <h2>Work done in project</h2>
  <div class="form-row">
    <div class="col-md-2 border">
      Project name
    </div>
    <div class="col-md-2 border">
      Estimated work
    </div>
    <div class="col-md-2 border">
      Actual work
    </div>
    <div class="col-md-2 border">
      Project ended
    </div>
    <div class="col-md-2 border">
      x
    </div>
    <div class="col-md-2 border">
      x
    </div>
  </div>
    {% for project in work_done_in_projects %}
  <div class="form-row">
    <div class="col-md-2 border">
      {{ project.name }}
    </div>
    <div class="col-md-2 border">
      x
    </div>
    <div class="col-md-2 border">
      {{ project.time }}
    </div>
    <div class="col-md-2 border">
      {{ project.done }}
    </div>
    <div class="col-md-2 border">
	x
    </div>
    <div class="col-md-2 border">
	x
    </div>
  </div>
    {% endfor %}


{% endblock %}
