{% extends "layout.html" %}
  
{% block body %}
  <div class="form-row">
    <div class="col-md-8">
       <h2>Add a project</h2>
    </div>
  </div>

<form method="POST" action="{{ url_for('projects_create') }}">
  <div class="form-row">
    <div class="col-md-3 border">
	  {{ form.name.label }}</br>
	  {{ form.name }}</br>
	  <ul>
	    {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
    </div>

    <div class="col-md-2 border">
	  {{ form.done.label }}</br>
	  {{ form.done }}
    </div>

    <div class="col-md-2 border">
            </br>
            <input type="submit" value="Add a new project"/>
    </div>

  </div>

</form>
{% endblock %}
