{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <div class="form-row">
    <div class="col-md-8">
       <h2>Login</h2>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3">
	{{ form.username.label }}</br>


	{{ form.username }}
    </div>
    <div class="col-md-3">

	{{ form.password.label }}</br>

	{{ form.password }}
    </div>
    <div class="col-md-2"></br>

	<input type="submit" value="Login"/>
    </div>
  </div>

</form>
{% endblock %}
