{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('accounts_create') }}">
  <div class="form-row">
    <div class="col-md-2 border">
      {{ form.role.label }}</br>
      {{ form.role }}

    </div>
    <div class="col-md-3 border">
      {{ form.name.label }}</br>
      {{ form.name(size=20, maxlength=30)  }}
      	  <ul>
	    {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>  
    </div>
    <div class="col-md-2 border">
      {{ form.username.label }}</br>
      {{ form.username(size=10, maxlength=20)  }}
	  <ul>
	    {% for error in form.username.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>  
    </div>
    <div class="col-md-2 border">
      {{ form.password.label }}</br>
      {{ form.password(size=10, maxlength=20)  }}
	  <ul>
	    {% for error in form.password.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
    </div>
    <div class="col-md-2 border">
      </br>
      </br>
      <input type="submit" value="Create!"/>
    </div>
  </div>

</form>
{% endblock %}
