{% extends "layout.html" %}

{% block body %}
<p>project_id: {{ project_id }}</p>
<p>work done : {{ workdone }}</p>

<form method="POST" action="{{ url_for('tasks_create', project_id=project_id) }}">

  <div class="form-row">
    <div class="col">
      {{ form.taskType.label }}</br>
      {{ form.taskType }}
      	  <ul>
	    {% for error in form.taskType.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
    </div>
    <div class="col">
	  {{ form.description.label }}
	  {{ form.description }}
	  <ul>
	    {% for error in form.description.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
    </div>
    <div class="col">
	  {{ form.time.label }}</br>
	  {{ form.time }}
	  <ul>
	    {% for error in form.time.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
    </div>
    <div class="col"></br>
      <input type="submit" value="Add a task"/>
    </div>
  </div>  

</form>
  {% for task in tasks %}
  <div class="form-row">
    <div class="col">
        {{ task.taskType }}
    </div>
    <div class="col">
        {{ task.description }}
    </div>
    <div class="col">
        {{ task.time }}
    </div>
    <div class="col">
        {{ task.project_id }}
    </div>
  </div> 
  {% endfor %}

{% endblock %}
